title: How I Make Podcasts
date: 06-06-2016 4:37pm
draft: true
tags: podcasting

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

[Donnie](https://twitter.com/floodfx) and I have just wrapped up episode 12
of our weekly aws/tech podcast [Engineers &amp; Coffee](http://engineers.coffee/).

I've really enjoyed working on this podcast.  We did an in-depth
[retrospective](http://engineers.coffee/episodes/2016/9/) where
we both go into this more, but it's been a great way to keep up
with the tech, build community, and meet and talk to interesting people
working on interesting things.

I've enjoyed it so much that I've been actively encouraging friends, family,
colleagues, people on the street, etc. to start their own podcasts.

**You** should start your own podcast!

The next step, of course, is how to get started.

When I was starting out, I was heavily inspired by podcasts I liked.
This post is pretty much directly inspired by the post of the same name,
 [*How I Make Podcasts* by Casey Liss](https://www.caseyliss.com/2014/11/22/how-i-make-podcasts) of [atp.fm](atp.fm).
 I modelled a lot about our podcast after ATP - how we record, the simple
 markdown list show notes, etc.  It was a huge help to have a good model of a great
 podcast, along with detailed notes from the hosts (thanks, [Casey](https://www.caseyliss.com/)!)

  I'm still pretty much a podcasting
novice, but I did do some research and I have learned a few things, and in the hope
that my perspective and experience are helpful (and will encourage more people to get started),
 I wanted to share it.

##Content

##Schedule

##Audio

The audio quality was really important to me.  As a listener, I've had to stop listening
to podcasts where I was excited about the subject, but the audio quality was just so bad
I couldn't understand what was being said.

I knew I wanted to spend some time on this and do the best we could do, even with our limited
knowledge.  I have a lot to learn here, but if you listen to our podcast, I think you'll find our
audio slowly getting better (and even the first episode wasn't too bad).

### Microphones

The microphone probably doesn't matter as much as you think.

You absolutely do not want to use your computer microphone, but a phone headphone/headset
microphone can get the job done in a pinch if you are able to speak clearly, eliminate background
noise, etc.  For most of our episodes Donnie is using the standard iPhone headphone mic (he records
a lot on the go).

If you're not sure you want to commit, this is a great way to get started -- use what you have
and see how it sounds.

That said, we both did invest some money into something better,
the [Audio-Technica ATR2100-USB Cardioid Dynamic USB/XLR Microphone].

Marco Arment has an incredible
 [Mega-review of podcasting microphones](https://marco.org/podcasting-microphones), and
 we basically chose the cheapest microphone he recommends (it did make it to the top 4!)

### Multi-participant with Skype/Hangouts

I think the biggest culprit in bad podcast audio is skype/hangout/facetime/whatever direct
audio recording.  Don't do it!

The way to make this work is to use one of those for speaking to each other, BUT also have
each participant record audio locally.  This way you have a high-quality local audio recording
that's coming in directly from your mic, and if there's any lag or noise from the hangout,
it won't be present.  If you have a mac, this is easy to do using
 QuickTime->File->New Audio recording.  Once the show is over, everyone can save and send their
 file to the editor who will need to mix the tracks together.  Yes, it's more work, but, trust me,
 it's worth it.  You will notice the difference!

### Field recording

### Other Equiptment

### Editing

OK

##Hosting





{% endfilter %}
{% endblock body %}
