name: deploy

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
      - name: Set up Python 3.12
        run: uv python install 3.12

      - name: Lint with Ruff
        run: uv run ruff check .

      - name: Build
        run: uv run python blog.py build

      - name: Deploy to S3
        run: |
          aws s3 sync ./build/ s3://sandwichnews.org --checksum --exclude "*.jpg" --cache-control max-age=900
          aws s3 sync ./build/ s3://sandwichnews.org --checksum --include "*.jpg" --cache-control max-age=7200

      - name: Invalidate Cloudfront
        run: aws cloudfront create-invalidation --distribution-id E12B42DU84I3C --paths '/*'
